<template>
  <cdx-dialog
    v-model:open="dialogOpen"
    class="zvpundy-mobile-editing"
    title="Create new Item"
    close-button-label="Cancel"
    :primary-action="{ label: 'Create', actionType: 'progressive' }"
    :default-action="{ label: 'Cancel', actionType: 'quiet' }"
    @primary="onSubmit"
    @default="cancelItemCreation"
  >
    <form @submit.prevent="onSubmit">
      <label-input v-model="labelValue" :error-message="errors['label']" />
      <description-input
        v-model="descriptionValue"
        :error-message="errors['description']"
      />
      <aliases-input v-model="aliases" />
      <h4 class="create-item-form__ontology-heading">Ontology</h4>
      <div>
        <property-switch
          v-model="ontologyPropertyId"
          :property-options="propertyOptions"
          :error-message="errors['ontologyPropertyId']"
        />
      </div>
      <ontology-item-lookup
        v-model="ontologyItemId"
        :error-message="errors['ontologyItemId']"
      />
    </form>
  </cdx-dialog>
</template>

<script>
import { inject, ref, defineComponent } from 'vue';
import { CdxDialog } from '@wikimedia/codex';
import LabelInput from 'User:Zvpunry/components/LabelInput.vue';
import DescriptionInput from 'User:Zvpunry/components/DescriptionInput.vue';
import AliasesInput from 'User:Zvpunry/components/AliasesInput.vue';
import PropertySwitch from 'User:Zvpunry/app/CreateNewItem/PropertySwitch.vue';
import OntologyItemLookup from 'User:Zvpunry/app/CreateNewItem/OntologyItemLookup.vue';

export default defineComponent({
  name: 'CNIForm',
  components: {
    CdxDialog,
    LabelInput,
    DescriptionInput,
    AliasesInput,
    PropertySwitch,
    OntologyItemLookup,
  },

  setup() {
    const currentInputText = inject('currentInputText', '');
    const labelValue = ref(currentInputText);
    const descriptionValue = ref('');
    const aliases = ref([]);
    const ontologyPropertyId = ref(null);
    const ontologyItemId = ref(null);
    const repo = inject('newEntityRepository');
    const dialogOpen = ref(true);
    const errors = ref({});

    const config = inject('config');
    const propertyOptions = [
      {
        label: 'instance of',
        value: config.instanceOfProperty,
      },
      {
        label: 'subclass of',
        value: config.subclassOfProperty,
      },
    ];

    const { closeWithNewItem, cancelModal } = inject('closingMethods');

    function isValid() {
      errors.value = {};
      let isValid = true;
      if (!labelValue.value) {
        errors.value.label = 'Label is required';
        isValid = false;
      }
      if (!descriptionValue.value) {
        errors.value.description = 'Description is required';
        isValid = false;
      }
      if (!ontologyPropertyId.value) {
        errors.value.ontologyPropertyId = 'Ontology Property is required';
        isValid = false;
      }
      if (!ontologyItemId.value) {
        errors.value.ontologyItemId = 'Ontology Item is required';
        isValid = false;
      }
      return isValid;
    }

    const onSubmit = async function () {
      if (!isValid()) {
        return;
      }
      const terms = {
        labels: {
          en: { language: 'en', value: labelValue.value },
        },
        descriptions: {
          en: { language: 'en', value: descriptionValue.value },
        },
        aliases: aliases.value.length
          ? {
              en: aliases.value.map((alias) => ({
                language: 'en',
                value: alias,
              })),
            }
          : {},
      };
      const statements = {
        [ontologyPropertyId.value]: [
          {
            mainsnak: {
              snaktype: 'value',
              property: ontologyPropertyId.value,
              datatype: 'wikibase-item',
              datavalue: {
                value: {
                  'entity-type': 'item',
                  'numeric-id': parseInt(ontologyItemId.value.slice(1)),
                  id: ontologyItemId.value,
                },
                type: 'wikibase-entityid',
              },
            },
            rank: 'normal',
            type: 'statement',
          },
        ],
      };

      const newItemId = await repo.saveNewItem(terms, statements);
      dialogOpen.value = false;
      closeWithNewItem(newItemId);
    };

    const cancelItemCreation = function () {
      dialogOpen.value = false;
      cancelModal();
    };

    return {
      errors,
      dialogOpen,
      propertyOptions,
      onSubmit,
      cancelItemCreation,
      labelValue,
      descriptionValue,
      aliases,
      ontologyPropertyId,
      ontologyItemId,
    };
  },
});
</script>
