<template>
  <cdx-field
    :status="errorMessage ? 'error' : 'default'"
    :messages="errorMessage ? { error: errorMessage } : {}"
  >
    <cdx-lookup
      v-model:selected="selected"
      placeholder="human (Q5)"
      :menu-items="menuItems"
      :menu-config="menuConfig"
      @input="onNewInput"
      @update:selected="onSelection"
      @load-more="onLoadMore"
    />
    <template #label>Ontology Item</template>
  </cdx-field>
</template>

<script>
import { inject, ref } from 'vue';
import { CdxLookup, CdxField } from '@wikimedia/codex';

function debounce(cb, timeout) {
  let timeoutId = null;
  return function (...params) {
    return new Promise(function (resolve) {
      if (timeoutId !== null) {
        clearTimeout(timeoutId);
        timeoutId = null;
      }
      timeoutId = setTimeout(function () {
        timeoutId = null;
        resolve(cb(...params));
      }, timeout);
    });
  };
}

export default {
  name: 'OntologyItemLookup',
  components: {
    CdxLookup,
    CdxField,
  },
  props: {
    errorMessage: { type: String, default: null },
  },
  emits: ['update:modelValue'],
  setup(_, { emit }) {
    const currentSearchTerm = ref('');
    const menuItems = ref([]);

    const searchEntitiesRepo = inject('searchEntitiesRepository');

    async function searchOption(newInput, offset) {
      return searchEntitiesRepo.searchEntities(newInput, 'item', offset);
    }

    const debouncedSearch = debounce(searchOption, 500);

    async function onNewInput(newInput) {
      currentSearchTerm.value = newInput;
      if (!newInput) {
        this.menuItems = [];
        return;
      }

      const response = await debouncedSearch(newInput);
      if (currentSearchTerm.value !== newInput) {
        return;
      }
      const requestResults = [];
      response.search.forEach((result) => {
        requestResults.push({
          label: result.label,
          description: result.description,
          value: result.id,
        });
      });

      menuItems.value = requestResults;
    }

    function deduplicateResults(results) {
      const seen = new Set(menuItems.value.map((result) => result.value));
      return results.filter((result) => !seen.has(result.value));
    }

    function onLoadMore() {
      if (!currentSearchTerm.value) {
        return;
      }

      searchOption(currentSearchTerm.value, menuItems.value.length).then(
        (data) => {
          if (!data.search || data.search.length === 0) {
            return;
          }

          const results = data.search.map((result) => {
            return {
              label: result.label,
              value: result.id,
              description: result.description,
            };
          });

          // Update menuItems.
          const deduplicatedResults = deduplicateResults(results);
          menuItems.value.push(...deduplicatedResults);
        },
      );
    }

    function onSelection(selection) {
      emit('update:modelValue', selection);
    }

    const selected = ref(null);
    const menuConfig = {
      visibleItemLimit: 6,
    };
    return {
      onNewInput,
      currentSearchTerm,
      menuItems,
      menuConfig,
      selected,
      onSelection,
      onLoadMore,
    };
  },
};
</script>
