<template>
  <cdx-field
    :status="errorMessage ? 'error' : 'default'"
    :messages="errorMessage ? { error: errorMessage } : {}"
    :is-fieldset="true"
    :hide-label="true"
  >
    <cdx-radio
      v-for="property in propertyOptions"
      :key="'radio-' + property.value"
      name="ontology-switch"
      :input-value="property.value"
      :inline="true"
      :model-value="modelValue"
      @update:model-value="$emit('update:modelValue', $event)"
    >
      {{ property.label }}
    </cdx-radio>
    <template #label>Ontology Property</template>
  </cdx-field>
</template>

<script>
import { CdxRadio, CdxField } from '@wikimedia/codex';

export default {
  name: 'PropertySwitch',
  components: {
    CdxRadio,
    CdxField,
  },
  props: {
    modelValue: { type: String, required: true },
    propertyOptions: { type: Array, required: true },
    errorMessage: { type: String, default: null },
  },
  emits: ['update:modelValue'],
  computed: {
    aliasesAsString() {
      return this.modelValue ? this.modelValue.join(' | ') : '';
    },
  },
  methods: {
    bubbleInput(event) {
      let data;
      if (typeof event === 'object') {
        data = event.data;
      } else {
        data = event;
      }
      const aliases = data
        .split('|')
        .map((alias) => alias.trim())
        .filter((alias) => alias);
      this.$emit('update:modelValue', aliases);
    },
  },
};
</script>
