<template>
  <cdx-field optional-flag="(optional)">
    <cdx-text-input
      :model-value="aliasesAsString"
      placeholder="Alan M. Turing | Turing"
      @update:model-value="bubbleInput"
    />
    <template #label>Aliases</template>
  </cdx-field>
</template>

<script>
import { CdxTextInput, CdxField } from '@wikimedia/codex';

export default {
  name: 'AliasesInput',
  components: {
    CdxTextInput,
    CdxField,
  },
  props: {
    modelValue: { type: Array, required: true },
  },
  emits: ['update:modelValue'],
  computed: {
    aliasesAsString() {
      return this.modelValue ? this.modelValue.join(' | ') : '';
    },
  },
  methods: {
    bubbleInput(event) {
      let data;
      if (typeof event === 'object') {
        data = event.data;
      } else {
        data = event;
      }
      const aliases = data
        .split('|')
        .map((alias) => alias.trim())
        .filter((alias) => alias);
      this.$emit('update:modelValue', aliases);
    },
  },
};
</script>
