<template>
  <cdx-field
    :status="errorMessage ? 'error' : 'default'"
    :messages="errorMessage ? { error: errorMessage } : {}"
  >
    <cdx-text-input
      :model-value="modelValue"
      placeholder="British computer scientist"
      required="true"
      @update:model-value="bubbleInput"
    />
    <template #label> Description </template>
  </cdx-field>
</template>

<script>
import { defineComponent } from 'vue';
import { CdxTextInput, CdxField } from '@wikimedia/codex';

export default defineComponent({
  name: 'DescriptionInput',
  components: {
    CdxTextInput,
    CdxField,
  },
  props: {
    modelValue: { type: String, required: true },
    errorMessage: { type: String, default: null },
  },
  emits: ['update:modelValue'],
  methods: {
    bubbleInput(eventPayload) {
      this.$emit('update:modelValue', eventPayload);
    },
  },
});
</script>
